.navbar {
  display: flex;
  gap: 1rem;
  background-color:rgb(92, 88, 88);
  padding: 10px 20px;
  border-radius: 8px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.nav-link:hover {
  background-color: #e2e6ea;
}

.nav-link.active {
  color: white;
  border-radius: 5px;
  background-color: #4f89bc;
}

