* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 59, 138);
}

.wrapper {
    height: 200px;
    width: 450px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    
}

.container {
    position: absolute;
    top: 2em;
    left: 1em;
}

input {
    width: 200px;
    height: 40px;
   border-radius: 20px;
   text-align: start;
   padding-left: 1em;
   background-color: whitesmoke;
}

button{
    cursor: pointer;
    background-color: rgb(212, 118, 51);
    height: 40px;
    width: 110px;
    border-radius: 30px;
    border: none;
    color: white;
    gap:5em;
}